<%- include('layout/header.ejs')%>
<div class="container_fullwidth">
  <div class="container">
    <div lass="row">
      <div class="col-md-3">
        <div class="category leftbar">
          <h3 class="title">
            Danh mục
          </h3>
          <ul>
            <%   danhmuc.forEach(function(danhmuc){  %>
              <li>
                <a href="/sanpham/<%= danhmuc.maloai %>">
                    <%= danhmuc.tenloai %>
                </a>
              </li>
              <% }) %>
          </ul>
        </div>
        <div class="clearfix">
        </div>
        <form class="category leftbar" method="post">
          <h3 class="title">
            Tìm kiếm theo giá
          </h3>
          <ul>
            <li >
              <a href="/sanpham/price/1" style="color: red;">  
              Giá tăng dần
              </a>
            </li>
            <li>
              <a href="/sanpham/price/2" style="color: red;">
                Giá giảm dần
              </a>
            </li>

            <li>
              <a href="/sanpham/price/3" style="color: red;">
                Dưới 5 triệu
              </a>
            </li>
            <li>
              <a href="/sanpham/price/4" style="color: red;">
                5 triệu - 10 triệu
              </a>
            </li>
            <li>
              <a href="/sanpham/price/5" style="color: red;">
                10 triệu - 20 triệu
              </a>
            </li>
            <li>
              <a href="/sanpham/price/6" style="color: red;">
                Trên 20 triệu
              </a>
            </li>


          </ul>
        </form>

        <div class="clearfix">
        </div>
        <div class="leftbanner">
          <img src="../../images/frontend/26.jpg" alt="">
        </div>

        <div class="leftbanner">
          <img src="../../images/frontend/28.jpg" alt="">
        </div>
        <div class="leftbanner">
          <img src="../../images/frontend/29.jpg" alt="">
        </div>
        <dv class="leftbanner">
          <img src="../../images/frontend/30.jpg" alt="">
      </div>
    </div>
    <div class="col-md-9">
      <div class="banner">
        <div class="bannerslide" id="bannerslide">
          <ul class="slides">
            <li>
              <a href="#">
                <img src="../../images/frontend/50.jpg" alt="" style="height: 180px; width: 100%;" />
              </a>
            </li>
            <li>
              <a href="#">
                <img src="../../images/frontend/25.jpg" alt="" style="height: 180px; width: 100%;" />
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="clearfix">
      </div>
      <div class="products-grid">
        <div class="toolbar">
          <div class="row">
         
            <%   sanpham.forEach(function(sanpham){  %>
                <div class="col-md-4 col-sm-6">

                  <div class="products">
                    <% if(sanpham.giakm > 0){ %>
                        <div class="offer">- <%=  ((sanpham.giaban - sanpham.giakm) * 100 / sanpham.giaban).toFixed(0) %>%</div> 
                       <% }%>
                    <div class="thumbnail">
                      <a href="/sanpham/chitiet/<%= sanpham.masp %>">
                        <img src="../../images/images/<%=sanpham.anh%>" alt="Product Name" width="230px" height="280px">
                      </a>
                    </div>
                    <div class="productname">
                        <%= sanpham.tensp %>
                    </div>
                    <% if(sanpham.giakm > 0){ %>
                        <h4 class="price"><%= sanpham.giakm.toLocaleString() %> VND</h4>
                            <%}
                            else{%>     
                               <h4 class="price"><%= sanpham.giaban.toLocaleString() %> VND</h4> <%}%>
                    <div class="button_group">
                      <a class="button add-cart" href="/sanpham/chitiet/<%= sanpham.masp %>">
                        Đặt mua
                      </a>
               
                    </div>
                  </div>
                </div>
                <% }) %>
        
          </div>


        </div>

      </div>

    </div>
  
    

  </div>
</div>
</div>
<%- include('layout/footer.ejs')%>